<!-- common top navigation bar starts -->
<div class="container-fluid">
    <div class="row">
		<div class="navbar-header col-xs-6 col-sm-2 col-md-2">
			<ul class="nav navbar-nav">

		 	 <!-- company logo -->
		 	 <li class="homelogo" ui-sref="user.module"><img src="images/logo.png" /></li>
		 	</ul>
		</div>

		<div id="navbar" class="col-xs-6 col-sm-10">
		  <ul class="nav navbar-nav hidden-xs hidden-md">
		    <li class="active">SSEL Project Monitoring System</li>
		  </ul>

		  <!-- user welcome message with few settings in dropdown-->
		  <ul class="nav navbar-nav navbar-right userloginnav" ng-show="userinfo.username">
		    <li class="hidden-xs homeicon"><i class="fa fa-home" style="font-size:20px;" ui-sref="user.module"></i></li>
		    <li class="dropdown text-right">
		      <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="hidden-xs">Welcome</span> {{userinfo.name}} <span class="caret"></span></div>
		      <ul class="dropdown-menu smallfont" role="menu">
		        <li><a ui-sref="user.profile.details"><i class="fa fa-user"></i>&nbsp;&nbsp;Profile</a></li>
		        <li><a ui-sref="user.profile.password"><i class="fa fa-unlock-alt"></i>&nbsp;&nbsp;Change password</a></li>
		        <li class="divider"></li>
		        <li><a ng-click="logout()"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Logout</a></li>
		      </ul>
		    </li>
		  </ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
<!-- common top navigation bar ends -->
	    