<!-- common top navigation bar starts -->
<div class="container-fluid">
    <div class="row">
		<div class="navbar-header col-xs-6 col-sm-2 col-md-2">
			<ul class="nav navbar-nav">

		 	 <!-- company logo -->
		 	 <li class="homelogo" ui-sref="login"><img src="images/logo.png" /></li>
		 	</ul>
		</div>

		<div id="navbar" class="col-xs-6 col-sm-10">
		  <ul class="nav navbar-nav hidden-xs hidden-md">
		    <li class="active">SSEL Project Monitoring System</li>
		  </ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
<!-- common top navigation bar ends -->
	    