<!-- page right main container starts -->
<div class="container-fluid">

	<div class="row-fluid">

		<div class="clearfix" style="height:20px;"></div>

		<p><strong>Create Office</strong></p>

		<div class="col-sm-12 col-xs-12 smallfont">

    		<form class="form-horizontal" ng-submit="create_office()">

    			<div class="form-group smallfont">
		 			<div for="inputEmail3" class="col-sm-2 col-xs-4 control-label">Name</div>
		 			<div class="col-sm-3 col-md-3 col-xs-8">
		 				<input type="text" class="form-control" ng-model='office.name' required/>
		 			</div>
		 		</div>
		 		<div class="form-group smallfont">
		 			<div for="inputEmail3" class="col-sm-2 col-xs-4 control-label">Address</div>
		 			<div class="col-sm-3 col-md-3 col-xs-8">
		 				<textarea ng-model='office.address' required></textarea>
		 			</div>
		 		</div>
		 		<div class="form-group smallfont submitbtn">
		 			<div class="col-sm-2 col-md-2 col-xs-8">
		 				<input type="submit" value="Create" class="btn btn-success">
		 			</div>
		 		</div>

    		</form>
    	</div>

	</div>

</div>