<!-- page top navigation starts -->
<!-- <ul class="nav nav-tabs" ng-if="state['current'].url != '/admin'">
  <li role="presentation" ui-sref-active="active"><a ui-sref="user.admin.assignworkids.hvds">HVDS</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref="user.admin.assignworkids.electrification">Electrification</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref="user.admin.assignworkids.substationconstruction">Sub Station Construction</a></li>
  
  
</ul> -->

<!-- page top navigation ends -->

<div ui-view="content">
</div>