<h3 class="text-center">Welcome to Survey Section!</h3>
<div style="clear:both;height:80px;"></div>
<div class="container">
	
	<div class="row">
		<div class="col-sm-1">&nbsp;</div>
		<div class="col-sm-3 text-center"><img src="/images/purchases1.png" style="width:150px;"></div>
		<div class="col-sm-3 text-center" style="border-left:2px dashed #000;"><img src="/images/purchases2.png" style="width:150px;"></div>
		<div class="col-sm-3 text-center" style="border-left:2px dashed #000;"><img src="/images/purchases3.png" style="width:150px;"></div>
		<div class="col-sm-1">&nbsp;</div>
	</div>
</div>