<!--page right main container starts -->
<div class="container-fluid">

	<div class="row-fluid hidden-print">

		<div class="clearfix" style="height:20px;"></div>

		<form class="form-horizontal">
			<div class="col-sm-12 col-xs-12">

			<p><strong>ADD STOCK</strong></p>

	 			<div class="form-group smallfont">
		 			<div for="inputEmail3" class="col-sm-2 col-xs-4 control-label">Project Name<span class="astrix">*</span></div>
		 			<div class="col-sm-3 col-md-3 col-xs-8">
		 				<!-- <select class="form-control smallfont" options="projectlist" chosen ng-model="projectid" ng-options="polist as polist.name for polist in projectlist">
	 					
	 					</select> -->
	 					<input class="form-control" type="text" ng-model="projectdet.project.name" readonly />
		 			</div>

		 			<div class="col-sm-2 col-xs-4 submitbtn">
		               <button type="button" class="btn btn-success smallfont " ng-click="generatemattrackerreport()">Generate</button>
		            </div>
		 		</div>
		 		<div class="form-group smallfont" ng-show="projectdet">
		 			<div for="inputEmail3" class="col-sm-2 col-xs-4 control-label">Select Stock Date<span class="astrix">*</span></div>
		 			<div class="col-sm-3 col-md-3 col-xs-8">
		 				<input type="date" class="form-control smallfont" ng-model="projectdet.project.stock_date">
	 					
	 					</select>
		 			</div>
		 			
		 		</div>
		 		<table class="table table-striped table-responsive smallfont" ng-show="mattracklist">
	 				<tr>
	 					<th>S.No</th>
	 					<th>Name</th>
	 					<th>UOM</th>
	 					<th>Total purchased Qty</th>
	 					<th>Total Internal DI Qty</th>
	 					<th>Total Received Qty</th>
	 					<th>Total Issued Qty</th>
	 					<th>Total Stock Qty</th>
	 				</tr>
	 				<tr ng-repeat="mat in mattracklist">
	 					<td>{{$index+1}}</td>
	 					<td>{{mat['name']}}</td>
	 					<td>{{mat['matuom'][0]['stmatuom']['uom']}}</td>
	 					<td>{{mat['totalraised']}}</td>
	 					<td>{{mat['totalinternaldi']}}</td>
	 					<td><input type="text" ng-model="mat['total_received']" ng-blur="qtycheck(mat)" /></td>
	 					<td><input type="text" ng-model="mat['total_issued']" ng-blur="qtycheck(mat)" /></td>
	 					<td><input type="text" ng-model="mat['total_stock']"/></td>
	 				</tr>
	 				</tr>
	 			</table>

	 			<div class="form-group smallfont submitbtn" ng-show="mattracklist">
		 			<div class="col-sm-3 col-md-3 col-xs-8 col-sm-offset-4">
		 				<button type="button" class="btn btn-success" ng-click="addstocks()">ADD STOCKS</button>
		 			</div>
		 		</div>

			</div>
		</form>
	</div>
</div>