<!--page right main container starts -->
<style type="text/css">
	
	.lessthan10 {

		background-color: yellow;
	}
</style>
<div class="container-fluid">

	<div class="row-fluid hidden-print">

		<div class="clearfix" style="height:20px;"></div>

		<form class="form-horizontal">
			<div class="col-sm-12 col-xs-12">

			<p><strong>ADD STOCK</strong></p>

	 			<div class="form-group smallfont">
		 			<div for="inputEmail3" class="col-sm-2 col-xs-4 control-label">Project Name<span class="astrix">*</span></div>
		 			<div class="col-sm-3 col-md-3 col-xs-8">
		 				<!-- <select class="form-control smallfont" options="projectlist" chosen ng-model="projectid" ng-options="polist as polist.name for polist in projectlist">
	 					
	 					</select> -->
	 					<input class="form-control" type="text" ng-model="projectdet.project.name" readonly />
		 			</div>
		 		</div>
		 		<div class="form-group smallfont" ng-show="projectdet">
		 			<div for="inputEmail3" class="col-sm-2 col-xs-4 control-label">Select Stock Date<span class="astrix">*</span></div>
		 			<div class="col-sm-3 col-md-3 col-xs-8">
		 				<input type="date" class="form-control smallfont" ng-model="projectdet.project.stock_date">
	 					
	 					</select>
		 			</div>
		 			
		 		</div>

	 			<div class="enquirymaterialbox col-sm-8 col-xs-12" ng-show="activitygrouplist.length > 0">
					<p><strong>Material list</strong></p>
				    	<table class="table table-striped smallfont">
							<thead>
								<tr class="innerhead">
									<th class="col-sm-1">S.No</th>
									<th class="col-sm-4">Material Description</th>
									<th class="col-sm-1">ERE CODE</th>
									<th class="col-sm-1">Section</th>
									<th class="col-sm-1">Total Received Qty</th>
				 					<th class="col-sm-1">Total Issued Qty</th>
				 					<th class="col-sm-1">Total Stock Qty</th>
								</tr>
							</thead>
							<tr ng-repeat="pomat in activitygrouplist">
								<td scope="row">{{$index+1}}</td>
								<td>{{pomat.storelevel1mat.storematerial.name}}</td>
								<td>{{pomat.storelevel1mat.ere_code}}</td>
								<td>{{pomat.storelevel1mat.msmat.name}}</td>
								<td><input type="text" ng-model="pomat.storelevel1mat['total_received']" ng-blur="qtycheck(pomat.storelevel1mat)" style="width:80px"/></td>
			 					<td><input type="text" ng-model="pomat.storelevel1mat['total_issued']"  ng-blur="qtycheck(pomat.storelevel1mat)" style="width:80px"/></td>
			 					<td><input ng-class="{'lessthan10': pomat['tenper'] == '1'}" type="text" ng-model="pomat.storelevel1mat['total_stock']" style="width:80px"/></td>
							</tr>

						</table>
				</div>

	 			<div class="form-group smallfont submitbtn" ng-show="activitygrouplist.length > 0">
		 			<div class="col-sm-3 col-md-3 col-xs-8 col-sm-offset-4">
		 				<button type="button" class="btn btn-success" ng-click="addfabstocks()">ADD STOCKS</button>
		 			</div>
		 		</div>

			</div>
		</form>
	</div>
</div>