<style type="text/css">
	
	@media print {
    .printsection { 
	        height: 9in;
	        margin-top:-110px;

	    }

	    .cs-table {

			height:9in !important;
			width:100%;
			margin:0 auto;
			font-size:10px;
	 	}
	 	.quotterms {

	 		font-size:8px !important;
	 		padding: 0px;
	 	}
	}
	
</style>

<!-- page right main container starts  -->
<div class="container-fluid">

	<div class="row-fluid">

		<div class="clearfix" style="height:20px;"></div>

		<form class="form-horizontal" ng-submit="sendenquiry()">
			<div class="col-sm-12 col-xs-12 hidden-print">
				<p><strong>Comparative Statement</strong></p>

				<div class="form-group smallfont">
		 			<div for="inputEmail3" class="col-sm-2 col-xs-4 control-label">Select Project<span class="astrix">*</span></div>
		 			<div class="col-sm-3 col-md-3 col-xs-8">
		 				<select class="form-control smallfont" options="projectlist" chosen ng-model="project" ng-options="polist as polist.name for polist in projectlist" ng-change="getprojectwiseenquiries()">
	 					
	 					</select>
		 				
		 			</div>
		 		</div>

				<div class="form-group smallfont hidden-print">
					<div for="inputEmail3" class="col-sm-2 col-xs-4 control-label">Select Enquiry Number<span class="astrix">*</span></div>
					<div class="col-sm-3 col-md-3 col-xs-8">
						<select class="form-control smallfont" options="enquirylist" chosen ng-model="enquiry" ng-options="enqlist as ('E'+enqlist.id+'-'+enqlist.subject) for enqlist in enquirylist">
	 					
	 					</select>
					</div>
					<div class="col-sm-3 col-md-3 col-xs-8" ng-show="enquiry">
						<div class="submitbtn">
							<button type="button" class="btn btn-success smallfont " ng-click="searchenquiry()">Search</button>
						</div>
					</div>
				</div>
				<div class="panel panel-default" ng-show="enquirydetails">
					<div class="panel-heading">Enquiry Details</div>
					<div class="panel-body">
						<div class="form-group smallfont">
							<div for="inputEmail3" class="col-sm-2 col-xs-4 control-label">Subject</div>
							<div class="col-sm-4 col-md-4 col-xs-9">
								<input readonly type="text" ng-model="enquiry.subject" class="form-control" />
							</div>
						</div>
						<div class="form-group smallfont">
							<div for="inputEmail3" class="col-sm-2 col-xs-4 control-label">Content</div>
							<div class="col-sm-8 col-md-8 col-xs-13">
								<textarea readonly type="text" ng-model="enquiry.content" class="form-control" style="height:120px;" ></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default" ng-show="enquirydetails">
					<div class="panel-heading">Enquiry Vendors</div>
					<div class="panel-body">
			 			<table class="table table-striped table-responsive smallfont">
			 				<thead>
			 					<tr class="innerhead">
			 						<th class="col-sm-1">S.No</th>
			 						<th class="col-sm-2">Enquiry subject</th>
			 						<th class="col-sm-4">Vendor</th>
			 						<th class="col-sm-2 text-center">Select All <br> <input type="checkbox" ng-checked="isallselected(enquirydetails)" ng-click="selectall(enquirydetails)"/></th>
			 					</tr>
			 				</thead>
			 				<tr ng-repeat="enqdet in enquirydetails">
			 					<td scope="row">{{$index+1}}</td>
			 					<td>{{enquiry.subject}}</td>
			 					<td>{{enqdet['vendordetails']['name']}}</td>
			 					<td class="text-center"><input type="checkbox" ng-model="enqdet.selected" /></td>
			 					
			 				</tr>
			 				
			 			</table>
					</div>
					<div class="panel-footer">
						<div class="submitbtn pull-right">
							<button type="button" class="btn btn-success smallfont " ng-click="generatecsreport()">Generate CS</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>

			<div class="container hidden-print">
				<div class="panel panel-default" ng-show="generatecs">
					<div class="panel-heading">Comparative Statement (CS No: {{csrefdet.refno}})</div>
					<div class="panel-body table-responsive">
					
						<table class="table table-bordered table-condensed small cs-table">
							<tr ng-repeat="row in cs">
								<td ng-repeat="val in row track by $index" rowspan="{{val.rows}}" colspan="{{val.cols}}" class="{{val.class}}" style="{{val.style}}">{{val.field}}</td>
							</tr>

 						</table>
					</div>
				</div>

				<div class="form-group smallfont hidden-print" ng-show="generatecs">
					<div for="inputEmail3" class="col-sm-2 col-xs-4 control-label">Remarks</div>
					<div class="col-sm-3 col-md-3 col-xs-8">
						<textarea class="form-control" ng-model="csrefdet.remarks"></textarea>
					</div>
				</div>

				<div class="form-group smallfont" ng-show="generatecs">
		 			<div class="col-sm-2 col-md-2 col-sm-offset-2 col-md-offset-2 col-xs-8">
		 				<button type="button" class="btn btn-success" onClick="window.print()">Print</button>
		 			</div>
		 			<div class="col-sm-2 col-md-2 col-sm-offset-2 col-md-offset-2 col-xs-8">
		 				<button type="button" class="btn btn-success" ng-click="savecsremarks(csrefdet)">Save</button>
		 			</div>
		 		</div>
			</div>








<!--------------------------------------- print section ------------------------------------------>

			<div class="container-fluid visible-print-block printsection" ng-show="generatecs">
				<h4 style="width:800px;float:left;">COMPARITIVE STATEMENT ({{enqmattypes}})</h4><div style="width:200px;float:right;margin-top:10px;text-align:left;">{{today}}</div>
				<div style="clear:both;"></div>
				<p>{{project.name}}</p>

					<table class="table table-bordered table-condensed small cs-table col-xs-12">
						<tr ng-repeat="row in cs">
							<td ng-repeat="val in row track by $index" rowspan="{{val.rows}}" colspan="{{val.cols}}" class="{{val.class}}" style="{{val.style}}">{{val.field}}</td>
						</tr>

					</table>

				<div class="form-group smallfont hidden-print" ng-show="generatecs">
		 			<div class="col-sm-2 col-md-2 col-sm-offset-2 col-md-offset-2 col-xs-8">
		 				<button type="button" class="btn btn-success" onClick="window.print()">Print</button>
		 			</div>
		 		</div>
			</div>

		</form>
	</div>
</div>