<!-- page right main container starts -->
<div class="container-fluid">

	<div class="row-fluid">

		<div class="clearfix" style="height:20px;"></div>

		<form class="form-horizontal">
		    <div class="col-sm-12 col-xs-12" style="margin-bottom:20px;">

				<p><strong>Client Billing</strong></p>

    		

 		 		<div class="form-group smallfont">
		 			<div for="inputEmail3" class="col-sm-2 col-xs-4 control-label">Select Project</div>
		 			<div class="col-sm-3 col-md-3 col-xs-8">
		 				<select class="form-control smallfont">
		 					<option value="select">SELECT</option>
		 					<option>NOs</option>
		 					<option>KG</option>
		 					<option>3</option>
		 					<option>4</option>
		 				</select>
		 			</div>
		 		</div>

	 			<div class="form-group smallfont">
		 			<div for="inputEmail3" class="col-sm-2 col-xs-4 control-label">Select Project Manager</div>
		 			<div class="col-sm-3 col-md-3 col-xs-8">
		 				<select class="form-control smallfont">
		 					<option value="select">SELECT</option>
		 					<option>NOs</option>
		 					<option>KG</option>
		 					<option>3</option>
		 					<option>4</option>
		 				</select>
		 			</div>
		 		</div>

		 		<div class="form-group smallfont">
		 			<div for="inputEmail3" class="col-sm-2 col-xs-4 control-label">Select Sub Station</div>
		 			<div class="col-sm-3 col-md-3 col-xs-8">
		 				<select class="form-control smallfont">
		 					<option value="select">SELECT</option>
		 					<option>NOs</option>
		 					<option>KG</option>
		 					<option>3</option>
		 					<option>4</option>
		 				</select>
		 			</div>
		 		</div>

		 		<div class="form-group smallfont">
		 			<div for="inputEmail3" class="col-sm-2 col-xs-4 control-label">Select Feeder</div>
		 			<div class="col-sm-3 col-md-3 col-xs-8">
		 				<select class="form-control smallfont">
		 					<option value="select">SELECT</option>
		 					<option>NOs</option>
		 					<option>KG</option>
		 					<option>3</option>
		 					<option>4</option>
		 				</select>
		 			</div>
		 		</div>

		 		<div class="form-group smallfont">
		 			<div for="inputEmail3" class="col-sm-2 col-xs-4 control-label">Select MDTR</div>
		 			<div class="col-sm-3 col-md-3 col-xs-8">
		 				<select class="form-control smallfont">
		 					<option value="select">SELECT</option>
		 					<option>NOs</option>
		 					<option>KG</option>
		 					<option>3</option>
		 					<option>4</option>
		 				</select>
		 			</div>
		 		</div>

		 		<div class="col-sm-2 col-sm-offset-2 col-xs-6 col-xs-offset-3 submitbtn">
	 				<button type="button" class="btn btn-success">ADD</button>
	 			</div>

	 			
            </div>

            <div class="col-sm-12 col-xs-12 table-responsive smallfont">

	 			<table class="table table-striped table-bordered smallfont">
	 				<thead>
	 					<tr class="innerhead">
	 						<th>S.No</th>
	 						<th>Sub Station</th>
	 						<th>Feeder</th>
	 						<th>MDTR</th>
	 						<th colspan="5" class="text-center">
								<select>
									<option>Select Schedule</option>
		 							<option>Schedule 1</option>
		 							<option>Schedule 2</option>
		 							<option>Schedule 3</option>
		 						</select>
		 						&nbsp; &nbsp; <i class="fa fa-plus"></i>
	 						</th>
	 						<th>Extra</th>
	 						<th>Reused</th>
	 						<th>Devoluted</th>
	 						<th>Iron Poles</th>
	 						<th>Remarks</th>
	 					</tr>
	 				</thead>

	 					<tr>
		 					<td></td>
		 					<td></td>
		 					<td></td>
		 					<td></td>
		 					<td><div class="breakword"><div class="rotate90">sometextsometext some text some text</div></div></td>
		 					<td><div class="breakword"><div class="rotate90">some text some text some text some text</div></div></td>
		 					<td><div class="breakword"><div class="rotate90">some text some text some text some text</div></div></td>
		 					<td><div class="breakword"><div class="rotate90">some text some text some text some text</div></div></td>
		 					<td><div class="breakword"><div class="rotate90">some text some text some text some text</div></div></td>
		 					
		 					<td></td>
		 					<td></td>
		 					<td></td>
		 					<td></td>
		 					<td></td>
		 				</tr>
	 				<thead>
		 				<tr>
		 					<th></th>
		 					<th></th>
		 					<th></th>
		 					<th></th>
		 					<th>1.1</th>
		 					<th>1.2</th>
		 					<th>1.3</th>
		 					<th>1.4</th>
		 					<th>1.5</th>
		 					<th>
		 						<select>
		 							<option>extra 1</option>
		 							<option>extra 2</option>
		 							<option>extra 3</option>
		 						</select>
		 						<i class="fa fa-plus"></i>
		 					</th>
		 					<th>
								<select>
		 							<option>extra 1</option>
		 							<option>extra 2</option>
		 							<option>extra 3</option>
		 						</select>
		 						<i class="fa fa-plus"></i>
		 					</th>
		 					<th>
								<select>
		 							<option>extra 1</option>
		 							<option>extra 2</option>
		 							<option>extra 3</option>
		 						</select>
		 						<i class="fa fa-plus"></i>
		 					</th>
		 					<th>
		 						<select>
		 							<option>extra 1</option>
		 							<option>extra 2</option>
		 							<option>extra 3</option>
		 						</select>
		 						<i class="fa fa-plus"></i>
		 					</th>
		 					<th></th>
		 				</tr>
		 			</thead>
	 				
	 				
	 			</table>

	 			
	    	</div>
	    	<div class="form-group smallfont submitbtn">
	 			<div class="col-sm-2 col-md-2 col-xs-6">
	 				<button type="button" class="btn btn-success">Save</button>
	 			</div>
	 		</div>


    	</form>

	</div>

</div>