<div class="container-fluid">
	

	<div class="row">

		<div class="col-sm-12">

			<form class="form-horizontal">

			<div class="form-group smallfont">
		 		<div for="inputEmail3" class="col-sm-2 col-md-2 col-xs-4 control-label"></div>
		 		<div class="col-sm-3 col-md-3 col-xs-8 jumbobox" style="padding:5px">
		 			<label class="radio-inline">
		 				<input type="radio" ng-model="schtype" id="inlineRadio1" value="1" ng-click="schtypechange()"> Supply
		 			</label>
		 			<label class="radio-inline">
		 				<input type="radio" ng-model="schtype" id="inlineRadio1" value="2" ng-click="schtypechange()"> Erection
		 			</label>
		 		
		 		</div>
		 	</div>

			<div class="form-group smallfont">
	 			<div for="inputEmail3" class="col-sm-2 col-xs-4 control-label">Select Project<span class="astrix">*</span></div>
	 			<div class="col-sm-3 col-md-3 col-xs-8">
	 				<select class="form-control smallfont" options="projectlist" chosen ng-model="projectid" ng-options="projlist.id as projlist.name for projlist in projectlist" ng-change="projchange()">
			 					
		 			</select>
	 			</div>

	 			<div class="col-sm-3 col-md-3 col-xs-8">
	 				
	 				<div class="btn btn-success" ng-click="get_boq_file_info()">GET ACTIVITIES</div>
	 			</div>
	 		</div>
			
		</div>
		
		<div class="col-sm-12" ng-show="filedata">
			
			<table class="table table-striped table-responsive smallfont">
 
				<tbody ng-repeat="filed in filedata track by $index">

					<tr class="innerhead">
 						<th class="col-sm-1">LOA Sl No</th>
 						<th class="col-sm-3">Description of Items</th>
 						<th class="col-sm-1">Units</th>
 						<th class="col-sm-1">Unit Quantity</th>
 						<th class="col-sm-1" ng-repeat="smulti in submultiplier">{{smulti.multiplier_name}} LOA Quantity</th>
 						<th class="col-sm-1">Total Quantity</th>
 						<th class="col-sm-1" ng-show="schtype=='1'">Supply Rate</th>
 						<th class="col-sm-1" ng-show="schtype=='2'">Erection Rate</th>
 						<th class="col-sm-1">F&amp;I Rate</th>
 						<th class="col-sm-1">Map Materials</th>
 						<th class="col-sm-2">Mapped Materials</th>
 						<th></th>
 						
 					</tr>
					<tr style="background:#bababa;">
						
						<th><input type="text" ng-model="filed.srno" style="width:50px;" /></th>
 						<th><textarea ng-model="filed.desc" class="col-sm-12" style="height:100px;width:300px;">{{filed.desc}}</textarea></th>
 						<th>{{filed.uom}}</th>
 						<th>{{filed.unit_qty}}</th>
 						<td ng-repeat="indiq in filed.qty"><input type="text" ng-model="indiq['indiqty']"  style="width:50px;" ng-blur="calculateallvariables(filed,$parent.$index)" /></td>
 						<td><input type="text" ng-model="filed.tot_qty"  style="width:60px;" /></td>
 						<th></th>
 						<th></th>
 						<th></th>
 						<th></th>
 						<th><button class="btn btn-xs" ng-click="duplicateactivity(filed)">Duplicate +</button></th>
 						
					</tr>
					<tr ng-repeat="filein in filed.sub" ng-style="filein.matmapped.length == 0 && {'background-color':'yellow'}">
						<td><input type="text" ng-model="filein.srno" style="width:50px;" /></td>
 						<td><textarea ng-model="filein.desc" class="col-sm-12" style="height:100px;width:300px;">{{filein.desc}}</textarea></td>
 						<td><input type="text" ng-model="filein.uom" style="width:50px;" /></td>
 						<td><input type="text" ng-model="filein.unit_qty"  style="width:60px;" ng-blur="calculateallvariables(filed,$parent.$index)"/></td>
 						<td ng-repeat="indiq in filein.qty"><input type="text" ng-model="indiq['indiqty']" style="width:60px;" /></td>
 						<td><input type="text" ng-model="filein.tot_qty"  style="width:60px;" /></td>
 						<td ng-show="schtype=='1'"><input type="text" ng-model="filein.supply_rate"  style="width:60px;" /></td>
 						<td ng-show="schtype=='2'"><input type="text" ng-model="filein.erection_rate"  style="width:60px;" /></td>
 						<td><input type="text" ng-model="filein.fi_rate"  style="width:60px;" /></td>
 						<td>

 						
							<button class="btn col-sm-12 smallfont" ng-click="addmattoact(filein)">ADD MATERIAL</button>
 						</td>
 						<td>
 							<ul>
 								<li ng-repeat="mat in filein.matmapped">{{mat.materialdesc}}({{mat.uom}})({{mat.qty}})</li>

 							</ul>
 						</td>
 						<td><button type="button" class="btn btn-danger btn-xs smallfont" ng-click="removeactrow($index, filed.sub)">Remove Activity</button></td>
 						
					</tr>
				</tbody>
			</table>

				<div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 submitbtn">
 					<button type="button" class="btn btn-success" ng-click="editactivitytoproject()">SAVE</button>
 				</div>
			</form>
		</div>
	</div>

</div>


<!--PO Modal -->
<div id="AddMaterialModal" class="modal fade hidden-print" role="dialog">
	<div class="modal-dialog" style="width:50%;">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title"><strong>ADD MATERIALS</strong></h5>

			</div>
			<div class="modal-body">
			<form class="form-horizontal">
				<div class="col-sm-12 col-xs-12">

					<div class="jumbobox col-sm-8">

		 				<div class="form-group smallfont">
							<div for="inputEmail3" class="col-sm-4 col-xs-5 control-label">Select Material Type<span class="astrix">*</span></div>
							<div class="col-sm-6 col-md-6 col-xs-8">
								<select class="form-control smallfont" ng-model="thisfile.materialtype" ng-options="mat as mat.name for mat in materials">
									<option value="">SELECT</option>
								</select>
							</div>
							
						</div>

						<div class="form-group smallfont" ng-show="thisfile.materialtype.submaterials">
							<div for="inputEmail3" class="col-sm-4 col-xs-5 control-label">Select Material<span class="astrix">*</span></div>
							<div class="col-sm-6 col-md-6 col-xs-8">
								<select class="form-control smallfont" ng-model="thisfile.submat" ng-options="submat as submat.name for submat in thisfile.materialtype.submaterials" ng-change="matchangethis()">
									<option value="">SELECT</option>
								</select>
							</div>
						</div>
						<div class="form-group smallfont">
		 					<div for="inputEmail3" class="col-sm-4 col-xs-5 control-label">UOM</div>
		 					<div class="col-sm-6 col-xs-8">
		 						<input type="text" class="form-control" ng-model="thisfile.submat.matuom[0]['stmatuom']['uom']" id="exampleInputEmail1" readonly >
		 					</div>
		 				</div>

		 				<div class="form-group smallfont">
		 					<div for="inputEmail3" class="col-sm-4 col-xs-4 control-label">Unit Quantity<span class="astrix">*</span></div>
		 					<div class="col-sm-4 col-xs-6">
		 						<input type="text" class="form-control" ng-model="thisfile.thisunitqty" placeholder="Enter unit quantity">
		 					</div>
		 				</div>

		 				<div class="form-group smallfont">
		 					<div for="inputEmail3" class="col-sm-4 col-xs-4 control-label">Quantity<span class="astrix">*</span></div>
		 					<div class="col-sm-4 col-xs-6">
		 						<input type="text" class="form-control" ng-model="thisfile.thisqtyy" placeholder="Enter quantity">
		 					</div>
		 				</div>

		 				<div class="form-group smallfont">
		 					<div for="inputEmail3" class="col-sm-4 col-xs-4 control-label">Activity Group<span class="astrix">*</span></div>
		 					<div class="col-sm-4 col-xs-6">
		 						<input type="checkbox" ng-model="thisfile.activitygroupcheck">
		 					</div>
		 				</div>

		 				<div class="form-group smallfont" ng-show="thisfile.activitygroupcheck">
							<div for="inputEmail3" class="col-sm-4 col-xs-5 control-label">Select Activity<span class="astrix">*</span></div>
							<div class="col-sm-8 col-md-8 col-xs-8">
								<select class="form-control smallfont" ng-model="thisfile.subsubactivity" ng-options="actg as (actg['dwg_code']+'('+actg.name+')') for actg in activitygrouplist">
									<option value="">SELECT</option>
								</select>
							</div>
						</div>

						<div class="form-group smallfont" ng-show="thisfile.activitygroupcheck">
		 					<div for="inputEmail3" class="col-sm-4 col-xs-4 control-label">Activity Quantity<span class="astrix">*</span></div>
		 					<div class="col-sm-4 col-xs-6">
		 						<input type="text" class="form-control" ng-model="thisfile.subsubactivity.thisactqtyy" placeholder="Enter quantity">
		 					</div>
		 				</div>

		 				<div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 submitbtn">
		 					<button type="button" class="btn btn-success" ng-click="addtomaptable()">ADD</button>
		 				</div>

		 				

					</div>

					<div class="col-sm-12 col-xs-12 smallfont">

			 			<table class="table table-striped table-responsive smallfont" ng-show="maptable.length>0">
			 				<thead>
			 					<tr class="innerhead">
			 						<th class="col-sm-1">S.No</th>
			 						<th class="col-sm-5">Material Description</th>
			 						<th class="col-sm-2">UOM</th>
			 						<th class="col-sm-2">Unit Qty</th>
			 						<th class="col-sm-2">Qty</th>
			 						<th>Remove</th>
			 					</tr>
			 				</thead>
			 				<tbody ng-repeat="pomat in maptable">
				 				<tr>
				 					<td scope="row">{{$index+1}}</td>
				 					<td>{{pomat['materialdesc']}}</td>
				 					<td>{{pomat['uom']}}</td>
				 					<td ng-show="!pomat['editactm']">{{pomat['unitqty']}}</td>
				 					<td ng-show="pomat['editactm']"><input type="text" ng-model="pomat['unitqty']" style="width:60px;"/></td>
				 					<td>{{pomat['qty']}}</td>
				 					<td>
					 					<button type="button" class="btn btn-danger btn-xs" ng-click="removerow($index)">Remove</button>
					 					<button type="button" class="btn btn-danger btn-xs" ng-show="!pomat['editactm']" ng-click="editmrow(pomat)">Edit</button>
					 					<button type="button" class="btn btn-danger btn-xs" ng-show="pomat['editactm']" ng-click="savemrow(pomat)">Save</button>
				 					</td>
				 				</tr>
				 				<tr ng-if="pomat.actgridarr.length>0">
				 					<th class="col-sm-1"></th>
				 					<th class="col-sm-1">S.No.</th>
				 					<!-- <th class="col-sm-1">Dwg CODE</th> -->
				 					<th class="col-sm-5">Name</th>
				 					<th class="col-sm-1">Qty</th>
				 				</tr>
				 				<tr ng-repeat="actsubmat in pomat.actgridarr">
				 					<td></td>
									<td>{{$index+1}}</td>
									<td>{{actsubmat['name']}}</td>
				 					<td><input type="text" ng-model="actsubmat['qty']" style="width:50px;"/></td>
				 				</tr>
			 				</tbody>
			 				
			 			</table>
			 		</div>
				</div>
			</form>

			</div>
			<div style="clear:both;height:10px;"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="addtothisact()">Submit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

<!-- modal ends
<div class="loader_wrap" ng-show="showloader"><div class="loading"><i class="fa fa-spinner fa-pulse"></i></div></div>